@import "../default/base";

.blockPublication{
  margin-bottom: 30px;
  border: 1px solid $grey;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .liker{
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: $blue;
  }
  textarea{
    border-radius: 50px;
    margin-bottom: 10px;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    resize: none;
    padding-right: 170px;
    overflow: hidden;
    @media screen and (max-width: 720px) {
      margin-bottom: 50px;
    }

  }
  .commentaire{
    display: inline-block;
    background: #eff1f3;
    padding: 10px;
    padding-right: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    .liker{
      border-top: none;
    }
  }
  .commentZone{
    position: relative;
    .btn{
      position: absolute;
      bottom: 18px;
      right: 35px;
      @media screen and (max-width: 720px) {
        position: static;
        margin-top: -30px;
      }
    }
  }
  .fa{
    cursor: pointer;
  }
}
.EventModal {
  .modal-content, .modal-dialog{
    width: 800px!important;
  }
  .modal-dialog {
    margin-top: 50px!important;
  }
}