

    {{ form_start(form, {'attr': {'class': 'AjaxForm'}} ) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btnBorderGreen pull-right mt10 " value="Create" />
    {{ form_end(form) }}

    <div align="center" style="margin: 50px;">
        <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
    </div>