<div class="tab-pane fade in active " id="tab1">
    <div class="row mb30">
        <div class="col-md-9 col-md-offset-1">
            <h1 class="cred">Mes Associations <span class="subtitleProfilCreation ">- etudiant</span></h1>
            <hr>
        </div>
    </div>

    <div class="row">
        {% if etudiant.associations |length == 0 %}

            <div class="col-md-10">
                <h2>Il semblerait que vous ne suivez pas encore d'association. Et si on en trouvait une qui vous
                    correspond ? </h2>
                <div class="col-md-12">
                    <form action="" method="post" class="validTag">

                        <label for="">Laissez nous trouver l'association qui vous correspond</label>
                        <input class="magicsearch form-control" id="basic" placeholder="search names...">
                        <div id="TagsAutocomplete">

                            <select style="display:none" name="" id="" multiple placeholder="Select"> </select>
                        </div>

                        <input type="submit" value="Valider mes tags"
                               class="btn btnBorderGreen pull-right mt10 validTag">
                    </form>
                </div>
                <div class="col-md-12">
                    <label for="" class="">Rechercher une association</label>
                    <input type="text" id="ajaxSearch" placeholder="" class="form-control">
                    <span class="btn btnBorderBlue pull-right mt10"> Rechercher</span>
                </div>
            </div>

        {% else %}

            <div class="col-lg-9">

                <div class="mb-3 Card_custom-card--border_5wJKy card">
                    <div class="table-responsive-xl">
                        <table class="mb-0 table table-hover">
                            <thead>
                            <tr>
                                {#<th class="align-middle bt-0">Favoris</th>#}
                                <th class="align-middle bt-0">Association</th>
                                <th class="align-middle bt-0">Status</th>
                                {#<th class="align-middle bt-0">Tasks Completed</th>#}
                                <th class="align-middle bt-0">People</th>
                                <th class="align-middle bt-0 text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for association in etudiant.associations %}

                                <tr>
                                    {#<td class="align-middle">#}
                                        {#<div class="text-inverse"><a href="#">#}
                                                {#<i class="fa fa-fw fa-lg fa-star-o mt25"></i></a>#}
                                        {#</div>#}
                                    {#</td>#}
                                    <td class="align-middle">
                                        <div>
                                            <a href="{{ path("association-followed", { 'name': association.name}) }}">{{ association.name }}</a>
                                        </div>

                                        {% if (association.publications| first).publication is defined %}
                                            <span>Derniere Publication: <br>{{ (association.publications| first).publication| date("d/m/Y") }}</span>
                                        {% else %}
                                            <span> Pas de publication </span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle"><span class="badge badge-success ">Active</span>
                                    </td>
                                    {#<td class="align-middle">#}
                                    {#<div class="mb-2 progress" style="height: 5px;">#}
                                    {#<div class="progress-bar" role="progressbar" aria-valuenow="25"#}
                                    {#aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>#}
                                    {#</div>#}
                                    {#<div>Tasks Completed:<span class="text-inverse">36/94</span></div>#}
                                    {#</td>#}
                                    <td class="align-middle">
                                        <div class="avatar-image avatar-image--loaded">
                                            <div class="avatar avatar--md avatar-image__image">
                                                <div class="avatar__content"><img
                                                            src="http://bootdey.com/img/Content/avatar/avatar1.png">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-right">
                                        <div class="btn-group">
                                            <button type="button" aria-haspopup="true" aria-expanded="false"
                                                    class="dropdown-toggle btn btn-link"><i class="fa fa-gear mt20"></i>
                                            </button>
                                            <div tabindex="-1" role="menu" aria-hidden="true"
                                                 class="dropdown-menu dropdown-menu-right">
                                                <button type="button" tabindex="0" class="dropdown-item"><i
                                                            class="fa fa-fw fa-folder-open mr-2"></i>View
                                                </button>
                                                <button type="button" tabindex="0" class="dropdown-item"><i
                                                            class="fa fa-fw fa-ticket mr-2"></i>Add Task
                                                </button>
                                                <button type="button" tabindex="0" class="dropdown-item"><i
                                                            class="fa fa-fw fa-paperclip mr-2"></i>Add Files
                                                </button>
                                                <div tabindex="-1" class="dropdown-divider"></div>
                                                <button type="button" tabindex="0" class="dropdown-item"><i
                                                            class="fa fa-fw fa-trash mr-2"></i>Delete
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        {% endif %}
    </div>
</div>


